html {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body {
    background-image: url(images/japan-background-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:black 3px solid;
}

.logo {
    height: 100px;
}
.menu {
    padding-right: 5%;

}

nav ul {
    list-style-type: none;
    font-size: 1.25rem;
    padding: 10px;
    margin: auto;
    text-decoration: none;
}


@media (min-width: 700px) {
    nav li {
        display: inline-block;
        padding-right: 20px;
    }
    .logo {
        height: 150px; 
        padding-left: 20px;
    }
}

.main-title {
    text-align: center;
    padding-top: 2rem;
}

h2 {
    text-align: center;
    text-decoration: black underline 3px;
    padding-top: 2rem;
}

.places {
    display:flex;
    flex-direction: row;
}

@media (max-width: 700px) {
    .places {
        flex-direction: column;
    }
    main {
        text-align: center;
    }
    .youtube-video {
        width: 100%;
    }
}

.where-to-go-places {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
}
.youtube-video {
    flex-basis: 100%;
}
.destinations {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.tokyo, .osaka, .kyoto {
    margin: 4rem; 
}
footer p {
    text-align: center;
    margin-bottom: 2%;
    align-items: center;
    line-height: 2rem;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline ;
}