html {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body {
    background-image: url(images/japan-background-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:black 3px solid;
}

.logo {
    height: 100px;
}
.menu {
    padding-right: 5%;

}

nav ul {
    list-style-type: none;
    font-size: 1.25rem;
    padding: 10px;
    margin: auto;
    text-decoration: none;
}


@media (min-width: 700px) {
    nav li {
        display: inline-block;
        padding-right: 20px;
    }
    .logo {
        height: 150px; 
        padding-left: 20px;
    }
}

.main-title {
    text-align: center;
    position: relative;
    animation-name: japan-travel;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

@keyframes japan-travel {
    0% {top: 0px;}
    50% {top: 50px; color:burlywood}
    100% {top: 0px;}
}

h2, h3 {
    text-align: center;
    text-decoration: black underline 3px;
}

p {
    text-align: center;
}

.places {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.where-to-go-places {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
}
.youtube-video {
    flex-basis: 100%;
}
.destinations {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.tokyo, .osaka, .kyoto {
    margin: 4rem; 
}

.gallery {
    display: flex;
    flex-wrap: nowrap;
    padding: 3px;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 4px;
    vertical-align: middle;
    width: 100%;
}

.bottom {
    text-align: right;
    padding-right: 2rem;
}

a.back-to-top:link {
    text-decoration: none;
    color: rgb(192, 150, 86);
}
a.back-to-top:visited {
    text-decoration: none;
    color: rgb(192, 150, 86);
}

a.back-to-top:hover {
    text-decoration: underline ;
}

footer p {
    text-align: center;
    margin-bottom: 2%;
    align-items: center;
    line-height: 2rem;
}
header a:link {
    text-decoration: none;
    color: black
}
header a:visited {
    text-decoration: none;
    color: black;
}
header a:hover {
    text-decoration: underline ;
}


@media (max-width: 700px) {
    .places {
        flex-direction: column;
    }
    main {
        text-align: center;
    }
    .youtube-video {
        width: auto;
    }
    .gallery {
        flex-wrap: wrap;
    }
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .main-title {
        text-align: center;
        animation: none;
    }
    
}